@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.not-found{
  font-family: 'Russo One', sans-serif;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121f3d;
  color: white;
  h1{
    font-size: 50px;
  }
  p {
    font-size: 24px;
  }
}